// PRE LOADER

#loading{
  background-color: #bd4932;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 101;
  margin-top: 0px;
  top: 0px;
  -webkit-transition: opacity .3s linear, z-index .1s linear .3s;
  -moz-transition: opacity .3s linear, z-index .1s linear .3s;
  -ms-transition: opacity .3s linear, z-index .1s linear .3s;
  -o-transition: opacity .3s linear, z-index .1s linear .3s;
  transition: opacity .3s linear, z-index .1s linear .3s;

  &.hide {
    z-index: -1;
    opacity: 0;
  }
}

.personal.hide {
  display: none !important;
}

#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}

#object{
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}

@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  } 50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
    } 100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      }
}



/* DEF-COMPONENTS START */
/* TITLES START */

%title {
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontMedium;
}

.page-title {
  @extend %title;
  text-transform: uppercase;
}

.section-title {
  @extend %title;
}

/* HEADER START */

#header {
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  background-color: $headerBg;

  .cash {
    position: relative;
    padding: 18px 18px 18px 18px;
    border-left: 1px solid $lightGrey;
    border-right: 1px solid $lightGrey;
    font-weight: $fontRegular;
    font-size: 20px;
    color: $darkGrey;

    &.open {
      background-color: $xsLightGrey;

      .icon-arrow-down {
        display: inline-block;
        line-height: 0;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    span {
      margin: 0 20px 0 15px;
    }

    .icon-arrow-down {
      font-size: 12px;
    }

    .dropdown-menu {
      font-weight: $fontRegular;
      font-size: 20px;
      color: $black;

      .top-wallet {
        display: flex;
        align-content: center;
        white-space: nowrap;
        margin-bottom: 35px;
        margin-top: 18px;

        .icon-arrow-down {
          display: inline-block;
          line-height: 0;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }

      &.open {
        background-color: $xsLightGrey;


      }
    }
  }

  .notification {
    padding: 18px;
    font-size: 20px;
    color: $darkGrey;

    .notification-condition {
      position: relative;
    }

    .notification-circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $orange;
      position: absolute;
      top: -10%;
      left: 60%;
    }
  }

  .personal {
    padding: 18px 18px 18px 18px;
    border-left: 1px solid $lightGrey;
    min-width: 173px;

    .icon-profile {
      margin-right: 15px;
      margin-bottom: 2px;
      font-size: 17px;
      color: $darkGrey;
    }

  }

  .personal:hover {

    .profile-text {
      color: $orange;
    }
  }

  .quit {
    padding: 18px;
    border-left: 1px solid $lightGrey;
    font-size: 20px;
    color: $darkGrey;
  }

}

.profile-text {
  font-weight: $fontLight;
  font-size: 13px;
  color: $blue;
}

.top-menu {
  display: flex;
  align-content: center;
  align-items: center;
}

.top-menu:hover {
  background-color: $top-menu-hover-bgc;
  cursor: pointer;
}

/* HEADER END */
/* ASIDE START */

%activeLink {
  border-left-color: $orange;
  background-color: $activeLinkBg;
  color: $activeLinkColor;
}

#aside {
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;

  .menu-control {

    padding: 18px;

    .menu-btn {
      cursor: pointer;

      span {
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;
        & + span {
          margin-top: 5px;

        }
      }
    }
  }

  .aside-menu {
    ul{
      margin-bottom: 25px;

      li{
        color: $darkGrey;

        &.active {
          a{
            @extend %activeLink;
          }
        }

        a{
          //display: block;
          padding: 14px;
          border-left: 4px solid transparent;
          display: flex;
          align-items: center;

          [class*='icon-']{
            font-size: 17px;
            margin-right: 15px;
          }

          span {
            margin-top: 2px;
          }
        }
        &:hover {
          @extend %activeLink;
        }
      }
    }
  }
}

.aside-bottom {
  padding-top: 25px;
  padding-left: 18px;
  border-top: 1px solid $black;

  .manager-name {
    @extend .profile-text;
    margin-left: 10px;
  }

  .your-manager {
    padding-top: 20px;

    img {
      //margin-right: 10px;
    }

    .photo-condition {
      position: relative;
    }

    .circle {
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: $green;
      position: absolute;
      top: 0;
      left: 70%;
    }
  }

  & > span:first-child {
    @extend .your-manager;
    width: 100%;
    text-transform: uppercase;
    font-weight: $fontMedium;
    font-size: $smallTitle;
    color: $mutedGrey;
  }

}

body._mobileSidebar .aside-bottom {
  padding-left: 0;

  .your-manager {
    justify-content: center;
  }
}

.manager-name:hover {
  color: $orange;
}

#aside {
}

/* ASIDE END */
/* INPUT START */

.form-group {

  input, textarea {
    width: $formElementWidth;
    padding: $formElementPadding;
    border: $formElementBorder;
    -webkit-border-radius: $formElementBorderRadius;
    -moz-border-radius: $formElementBorderRadius;
    border-radius: $formElementBorderRadius;
    color: $mediumGrey;
    ::-webkit-input-placeholder {color: $formElementColor;}
    ::-moz-placeholder          {color: $formElementColor;} // Firefox 19
    :-moz-placeholder           {color: $formElementColor;} // Firefox 18
    :-ms-input-placeholder      {color: $formElementColor;}
  }
  input[placeholder]          {text-overflow: ellipsis;}
  input::-moz-placeholder     {text-overflow: ellipsis;}
  input:-moz-placeholder      {text-overflow: ellipsis;}
  input:-ms-input-placeholder {text-overflow: ellipsis;}
  textarea[placeholder]          {text-overflow: ellipsis;}
  textarea::-moz-placeholder     {text-overflow: ellipsis;}
  textarea:-moz-placeholder      {text-overflow: ellipsis;}
  textarea:-ms-input-placeholder {text-overflow: ellipsis;}

  textarea {
    font-family: $formFontFamily;
    font-size: $textareaFZ;
    font-weight: $fontLight;
    height: $textareaHeight;
    //width: $textareaWidth;
    resize: none;
  }

  input {
    font-family: $formFontFamily;
    font-size: $inputFZ;
    font-weight: $fontLight;
    height: 40px;
  }

  .icon-password {
    color: $mediumGrey;
  }
}

// range slider

#custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

// select

.flag.flag-gb {
  background: url(../img/gb.png) no-repeat;
  background-position: 15px;
}
.flag.flag-de {
  background: url(../img/de.png) no-repeat;
  background-position: 15px;
}
.flag.flag-ru {
  background: url(../img/ru.png) no-repeat;
  background-position: 15px;
}
.flag.flag-fr {
  background: url(../img/fr.png) no-repeat;
  background-position: 15px;
}

// checkboxes

input[type="checkbox"]{
  display: none;

  & + label {
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 1px solid $lightGrey;
      background-color: #fff;
      margin-right: 16px;
    }
  }

  &:checked {
    & + label {
      &::before {
        background: $green url('../img/checkbox-bg.png') no-repeat center;
      }
    }
  }
}

// checkbox wrapper

.checkbox-wrap {
  padding: 30px 0 18px 0;

  .checkboxes {
    display: flex;
    height: 170px;
    padding-right: 18px;
    margin-top: 15px;
    height: 450px;

    .checkbox-group {
      flex-basis: 33%;
      flex-grow: 1;

      label {
        width: 90%;
        height: 43px;
        padding-left: 13px;
      }

      &:hover {
        background-color: $xsLightGrey;

        [class*='icon-'] {
          opacity: 1;
        }
        [class*='icon-']:hover {
          color: $blue;
        }
      }

      [class*='icon-']{
        opacity: 0;
      }

      .icon-show:before {
        margin-top: 4px;
      }
    }
  }
}

// idle placeholder

.form-control::-webkit-input-placeholder       {
  color: $mediumGrey;
}
.form-control::-moz-placeholder                {
  color: $mediumGrey;
}
.form-control:-moz-placeholder                 {
  color: $mediumGrey;
}
.form-control:-ms-input-placeholder            {
  color: $mediumGrey;
}

// hover placeholder

.form-control:hover::-webkit-input-placeholder {
  color: $black;
}
.form-control:hover::-moz-placeholder          {
  color: $black;
}
.form-control:hover:-moz-placeholder           {
  color: $black;
}
.form-control:hover:-ms-input-placeholder      {
  color: $black;
}

// focus placeholder

.form-control:focus::-webkit-input-placeholder {
  color: $black;
}
.form-control:focus::-moz-placeholder          {
  color: $black;
}
.form-control:focus:-moz-placeholder           {
  color: $black;
}
.form-control:focus:-ms-input-placeholder      {
  color: $black;
}

// focus placeholder

input:focus::-webkit-input-placeholder .icon-password {
  color: $black !important;
}
input:focus::-moz-placeholder .icon-password          {
  color: $black !important;
}
input:focus:-moz-placeholder .icon-password           {
  color: $black !important;
}
input:focus:-ms-input-placeholder .icon-password      {
  color: $black !important;
}

.form-group:hover,
.form-control:hover {

  .icon-password {
    color: $black;
  }

  input, textarea {
    border: $formElementActiveBorder;
    color: $black;
  }
}

.form-control:focus + .icon-password {
  color: $black;
}

input:focus,
textarea:focus {
  border: $formElementActiveBorder;
  color: $black;
  outline: none;
}

input.form-control.error {
  border: $errorBorder;
}

.pass-wrapper {
  position: relative;

  .icon-password {
    position: absolute;
    top: 22%;
    left: 12px;
    font-size: 20px;
  }

  input[password] {
    padding-left: 40px; // here is custom value
  }
}

.form-group {
  position: relative;

  .icon-password {
    position: absolute;
    top: 45%;
    left: 67px;
    font-size: 20px;
  }

  input[password] {
    padding-left: 40px;
  }
}

// Исправить состояния

.form-wrapper {
  display: inline-block;
}

.btn-wrapper {
  display: inline-block;
}

/* BTN Styles Start */

.container {
  margin: 0 auto;

  &.sm {
    max-width: 684px;
  }
}


/* BTN Styles Start */

.btn {
  text-align: center;
  display: inline-block;
  position: relative;
  padding: $btnPadding;
  color: $btnFontColor;
  font-family: $btnFontFamily;
  font-weight: $fontLight;
  font-size: $btnFZ;
  border-radius: $btnBorderRadius;
  height: 40px;
  line-height: 1;
}

.btn.btn-grey {
  background-color: $btnGrey;
}

.btn.btn-grey:hover {
  background-color: $btnGreyHover;
}

.btn.btn-orange {
  background-color: $btnOrange;
}

.btn.btn-orange:hover {
  background-color: $btnOrangeHover;
}

.btn.btn-idle {
  background-color: $btnMutedBGColor;
  cursor: default;
}

.generate-links .btn.btn-idle {
  padding: 10px 25px 10px 50px;

  .form-group {
    margin: 0;
  }

  i {
    position: absolute;
    -webkit-transform: translateX(-170%);
    -moz-transform: translateX(-170%);
    -ms-transform: translateX(-170%);
    -o-transform: translateX(-170%);
    transform: translateX(-170%);
  }
}

/* BTN Styles End */


/* INPUT END */
/* INNER START */

.content-wrapper {
  padding: 18px;
  height: calc(100vh - 62px);
  overflow-y: auto;
}

// card

.card {
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header {
    border-bottom: 1px solid $lightGrey;
    padding: 18px;
  }
  
  .card-date {
    padding-top: 33px;
    padding-bottom: 36px;
    border-bottom: 1px solid $lightGrey;

    .btn.btn-orange {
      padding: 12px 13px;
    }
  }

  .card-form {

    .select-group {
      //padding: 18px;
    }

    .form-group {

      label {
        display: block;
      }

      input {
        width: 100%;
      }
    }
  }
}

// date picker

.datepicker-form {

  .date-input-wrapper {
    display: inline-block;
    padding: 5px 0;
    border: 1px solid $lightGrey;
    border-radius: 3px;
    color: $black;
    margin-right: 12px;

    input {
      padding: 12px 16px;
      vertical-align: middle;

      &#to {
        border-left: 1px solid $lightGrey;
      }
    }

    input:focus {
      border: none;
    }

    label {
      padding: 0 14px 0 10px;
      vertical-align: middle;
      display: inline-block;
      line-height: 0;

      .icon-calendar {
        color: $mediumGrey;
      }
    }

  }
  
  .btn.btn-orange {
    vertical-align: middle;
    line-height: 0;
  }
}

//dropdown

.dropdown-menu {
  display: none;
  opacity: 0;
  position: absolute;
  padding: 0 18px 0;
  background-color: $xsLightGrey;
  top: 0;
  //margin-top: 56px;
  left: 0;
  right: 0;

  li + li {
    margin-top: 15px;
  }

  ul {
    margin-bottom: 24px;
  }

  .dropdown-link {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    line-height: 1;

    span {
      margin: 0 !important;
      font-size: 12px;
      font-weight: $fontMedium;
    }
  }
}

.dropdown-wrapper.open {
  color: #000 !important;

  .dropdown-menu {
    opacity: 1;
    margin-left: -1px;
    margin-right: -1px;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    top: 0;
    //padding-top: 56px;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    //background: linear-gradient(to bottom, transparent, transparent 50px, #f5f5f5 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .icon-arrow-down {
    color: $lightMediumGrey !important;
  }
}

// tables

.table {
  font-size: $tableFontSize;
  border-collapse: collapse;

  tbody {

    tr {
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      -ms-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;

      &:hover {
        background-color: $tabeTrHover;

        .hide-icons {
          opacity: 1;
        }
      }

      &:last-child {

        td {
          border-bottom: 1px solid $lightGrey;
        }
      }
    }
  }

  td {
    padding: 18px;
    border-top: 1px solid $lightGrey;

    .hide-icons {
      opacity: 0;
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      -ms-transition: all .1s linear;
      -o-transition: all .1s linear;
      transition: all .1s linear;
    }

    a:hover {
      color: $orange;
    }

    i {
      font-size: 16px;
      color: $blue;
    }

    i:hover {
      color: $orange;
      cursor: pointer;
    }

    i + i {
      padding-left: 20px;
    }
  }
}

.links {

  .table {

    tbody {

      tr {

        td:first-child {
          width: 290px;
        }
      }
    }
  }
}

.btn-row {
  padding-top: 25px;
  padding-bottom: 25px;
}

// payout + details + sort tables

.details,
.payout {
  margin-left: 17px;
  margin-right: 17px;

  table {

    .table-sorting {

      text-align: left;

      th {
        padding-left: 8px;
        padding-top: 37px;
        padding-bottom: 15px;
      }
    }

    .table-sorting:hover {
      background-color: inherit;
    }

    tr > td:hover {
      cursor: pointer;
    }
  }
}

.details {

  table {

  }
}

.payout {

  table {

    tr td:nth-child(-n+2) {
      width: 33.33333%;
    }

    tr td:nth-child(3) {
      width: 22.22222%;
    }

    tr td:last-child {
      width: 11.11111%;
    }
  }
}

.btn-sort {
  display: inline-block;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: nowrap;
  color: $mediumGrey;

  .icon-arrow-down {
    font-size: 8px;
    margin-left: 15px;
    margin-right: 8px;
    opacity: 0;
  }

  & > .icon-arrow-down:before {

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.btn-sort:hover {
  cursor: pointer;
  color: $black;
  background-color: $xsLightGrey;

  .icon-arrow-down {
    opacity: 1;
    color: $mediumGrey;
  }
}

// pagination

.pagination {
  font-size: 16px;
  color: $blue;
  padding-top: 22px;
  padding-bottom: 24px;

  li {
    width: 40px;
    height: 40px;
    overflow: hidden;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .icon-arrow-left,
    .icon-arrow-right {
      font-size: 13px;
      margin-bottom: -2px;
    }
  }

  li:hover {
    background-color: $xsLightGrey;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: $mediumGrey;
    font-weight: $fontBold;
  }
}

// Modal

.modal {
  background-color: $modalBg;
  display: none;

  &#links {
    width: 70%;
    min-height: 100px;
  }

  &#banners {
    width: 70%;
    min-height: 100px;

    .select-group + .select-group {
      padding-top: 35px;
    }

    .checkbox-wrap {
      width: 50%;
    }

    .checkboxes {
      height: 405px;
    }

    .checkbox-wrap:first-child {
      padding-right: 18px;
      border-right: $formElementBorder;
    }

    .checkbox-wrap:last-child {
      padding-left: 18px;
    }

    .checkbox-group {
      flex-basis: 100%;
    }
  }

  .card-header {
    padding: 18px;
  }

  .card-form {

    .select-form {
      padding-bottom: 0;
      padding-top: 0;
    }

    form {
      border-top: 1px solid $lightGrey;
      padding: 18px;
    }

    .form-group {

      label {
        display: block;
        font-weight: $fontBold;
        color: $mediumGrey;
        font-size: 16px;
        padding-bottom: 15px;
      }

      input {
        width: 100%;
        height: 40px;
      }
    }

    .compain-select, .design-select {
      margin-left: $formMargin;
      margin-right: $formMargin;
    }
  }

  .modal-close-btn {
    display: block;
    font-size: 14px;
    color: #a6a6a6;
    cursor: pointer;

    i.icon-close:before {
      transform: translateY(3px);
    }
  }
}

.select-group + .select-group {
  padding-top: 35px;
}

.checkbox-wrap {
  width: 50%;
}

.checkboxes {
  height: 405px;
}

.checkbox-wrap:first-child {
  padding-right: 18px;
  border-right: $formElementBorder;
}

.checkbox-wrap:last-child {
  padding-left: 18px;
}

.checkbox-group {
  flex-basis: 100%;
}

.card-header {
  padding: 18px;
}


.card.banners {

  .checkbox-group {
    flex-basis: 100%;
  }

  .card-form {

    .select-form {
      padding-bottom: 0;
      padding-top: 0;
    }

    form {
      padding: 18px;
    }

    .form-group {

      label {
        display: block;
        font-weight: $fontBold;
        color: $mediumGrey;
        font-size: 16px;
        padding-bottom: 15px;
      }

      input {
        width: 100%;
        height: 40px;
      }
    }

    .compain-select, .design-select {
      margin-left: $formMargin;
      margin-right: $formMargin;
    }
  }
}


// generated links

.generate-links {

  input[type="text"]{
    flex-grow: 1;

  }

  .btn {
    margin-left: 15px;

    i {
      vertical-align: sub;
    }
  }
}
    
.options-wrap {

  .check-status {
    //width: 50%;
  }
}

.textarea-group {

  .form-group {

    textarea {
      width: 100%;
    }
  }
}

.options-wrap {
  border-top: $formElementBorder;

  .check-status {
    padding: 21px 21px 21px 9px;
  }

  .checkboxes {
    height: 200px;

    .checkbox-group {
      width: 100%;
      padding-left: 12px;

      &:hover {
        background-color: $xsLightGrey;
      }

      label {
        width: 100%;
        height: 43px;
      }
    }
  }

  .section-title {
    font-family: $fontFamily;
    font-weight: $fontBold;
    color: $mediumGrey;
    font-size: 16px;
    padding-bottom: 18px;
  }

  .range-slider {
    border-left: $formElementBorder;
  }
}

.button-buttom-wrapper {
  padding: 20px 24px;
  border-top: $formElementBorder;
}

.select-group {
  padding: 25px 18px 40px;

  .form-group + .form-group {
    padding-left: 18px;
  }
}
.card-form {

  .subtitle {
    padding: 35px 18px 25px;
  }

  .form-group {

    label {
      padding-bottom: 22px;
      font-family: $fontFamily;
      font-weight: $fontBold;
      color: $mediumGrey;
      font-size: 16px;
    }
  }
}

.personal-data {
  border-bottom: $formElementBorder;
  padding-top: 43px;
  padding-bottom: 43px;
  flex-direction: column;

  .form-group {
    //max-width: 455px;
    flex-wrap: nowrap;

    label {
      flex: 1 0 auto;
      flex-basis: 150px;
      padding-bottom: 0; // убрать потом
    }

    input {
      flex: 1 0 auto;
      flex-basis: 310px;
    }
  }

  .form-group + .form-group {
    padding-top: 15px;
  }
}

.notification-wrapper {

  position: relative;
  
  .notification-menu {
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 229px;
    height: 0;
    background-color: $xsLightGrey;
    -webkit-transition: .3s height, .3s opacity ease-out;
    -moz-transition: .3s height, .3s opacity ease-out;
    -ms-transition: .3s height, .3s opacity ease-out;
    -o-transition: .3s height, .3s opacity ease-out;
    transition: .3s height, .3s opacity ease-out;
  }
}

.notification-wrapper.open {
  color: #000 !important;
  background-color: $xsLightGrey;


  .notification-menu {
    display: block !important;
    position: absolute;
    opacity: 1;
    width: 229px;
    height: 138px;
    top: 0;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: auto;
    padding-left: 17px;

    .notification-condition {
      -webkit-transform: translateY(18px);
      -moz-transform: translateY(18px);
      -ms-transform: translateY(18px);
      -o-transform: translateY(18px);
      transform: translateY(18px);
    }

    ul {
      -webkit-transform: translateY(35px);
      -moz-transform: translateY(35px);
      -ms-transform: translateY(35px);
      -o-transform: translateY(35px);
      transform: translateY(35px);
    }
  }

    li {
      line-height: 1;
      margin-top: 15px;

      .notification-circle {
        top: inherit !important;
        left: 90% !important;
        transform: translateY(-10px);
      }
    }

    li > a {
      display: block;
      font-size: 12px;
      color: $blue;
    }

    li + li {

    }
}

// range-slider

.range-slider {
  padding: 21px;

  #slider {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: $btnMutedBGColor;
  }

  .ui-slider-range-min {
    background-color: $btnOrange;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  #custom-handle {
    top: 12px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    background-color: transparent;
    border-bottom-color: $btnOrange;
    text-align: left;
    outline: none;
    transform: translateX(-12px);

    span.value {
      position: absolute;
      top: 25px;
      color: #000;
      transform: translateX(-50%);
    }
  }
}
